*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

/* TITOLI */
h1{
    display: inline-block;

    font-size: 2.2em;

    line-height: 60px;
    vertical-align: top;
}

h2{
    display: inline-block;
    font-size: 1.7em;
    text-decoration: inherit;
    color: black;
}
/* /TITOLI */

/* NAVBAR */
.nav_bar{
   padding: 10px 20px;
   background-color: white;
}

.nav_bar #logo{
    width: 60px;
}
/* /NAVBAR */


 /*  MAIN CONTENT  */

.main_content{
    width: 70vw;
    height: 80vh;
    max-width: 1100px;

    margin: 50px auto;

    background-color: white;
}


/* ADDER */
.main_content .adder{
    padding: 20px 50px;
    border-bottom:3px solid rgb(246, 248, 249);
}

.main_content .adder .btn{
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: white;
    color: grey;
}

.main_content .adder .btn:hover{
    color: white;
    background-color: rgb(71, 173, 241);
    border: 1px solid  rgb(71, 173, 241);
}

/* /ADDER */

/* FEATURES */
 .features{
    padding:15px
 }

    /* LINE CONTAINER */
    .features .line_container{
        /* background-color: aqua;  */
        /* DA CANCELLARE */
        padding: 5px;
        text-decoration: none;
    }
    
    .features .line_container .arrow{
        display: inline-block;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 33px;
        text-decoration: inherit;
        color: black;
    }
    /* /LINE CONTAINER */

    /* MENU */
    .features .menu{
        /* background-color: blue; */
         /* DA CANCELLARE */
        padding: 5px;
        display: none;
    }

    .features .menu .row_menu{
        padding:5px 11px;
    }

        /* CHECK/UNCHECK */
        .features .menu .row_menu .check, .uncheck{
            display: inline-block;

        }

        .features .menu .row_menu .check::before{
            content: '✔';
            padding: 0px 3px;
            line-height: 20px;
            color: rgb(99, 192, 170);
            border-radius: 50%;
            border: 1px solid rgb(99, 192, 170);
        }
        
        .features .menu .row_menu .uncheck::before{
            content: '𐄂';
            padding: 0px 5px;
            line-height: 20px;
            color: rgb(232, 67, 59);
            border-radius: 50%;
            border: 1px solid rgb(232, 67, 59);
        }
        
        /* TEXT */
        .features .menu .row_menu .text{
            padding-right: 8px;
        }

        /* PROPERTY */
        .features .menu .row_menu .property{
            display: inline-block;
            padding: 6px 10px;
            border-radius: 15px;
            color: white;
            font-size: 0.7em;
        }

        .features .menu .row_menu .editorial{
            background-color: rgb(69, 171, 234);
        }

        .features .menu .row_menu .q_goals{
            background-color: rgb(156, 114, 228);
        }

        .features .menu .row_menu .rescruiting{
            background-color: rgb(100, 192, 169);
        }

        .features .menu .row_menu .mobile{
            background-color: rgb(242, 158, 51);
        }

        .features .menu .row_menu .website{
            background-color: rgb(216, 99, 161);
        }

        .features .menu .row_menu .sales{
            background-color: rgb(191, 211, 79);
        }
    /* /MENU */
/* /FEATURES */
 /* /MAIN CONTENT  */

 /* HOVER */
 body .features .line_container:hover + .hide, .hide:hover{
    display: block !important;
 }
 